<h2>Movie-details</h2>
{{#each movies}}
  <p>TITLE : {{this.title}}</p>
  <p>GENRE : {{this.genre}}</p>
  <p>PLOT : {{this.plot}}</p>
{{/each}}

{{#each celebrities}}
  CAST :
  <p>{{this.name}}</p>
  <p>{{this.occupation}}</p>
  <p>{{this.catchPhrase}}</p>
{{/each}}